.container {
	position: relative;
	width: 800px;
	height: 600px;
	background: #333;
}
.ball {
	position: absolute;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(img/rock.png) 50% 50% no-repeat;
	background-size: cover;
	border-radius: 50%;
	opacity: 1;
	z-index: 1000;
	transition: all .1s;
}
.bang {
	position: absolute;
	width: 60px;
	height: 60px;
	opacity: 1;
	background: url(img/bang.png) 50% 50%;
	background-size: 50%;
	background-repeat: no-repeat;
	transition: all .3s;
}
.board-container {
	width: 200px;
   	position: relative;
   	height: 10px;
}
.board {
	position: absolute;
	z-index: 100;
	width: 200px;
	height: 20px;
	bottom: 0;
	background: #000;
	cursor: pointer;
}
.brick {
	position: absolute;
	width: 40px;
	height: 40px;
	background: url(img/brick.png) 50% 50%;
	background-size: cover;
}
.dashboard {
	position: absolute;
	width: 100%;
	height: 100%;
}
.start-game-btn {
	position: absolute;
	width: 50%;
	padding: 20px 0;
	text-align: center;
	cursor: pointer;
	left: 25%;
	font-size: 30px;
	background: #fff;
	top: 45%;
	z-index: 10;
}